.header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding: 0 40px;
}

.header h1 {
  padding-left: 50px;
  padding-top: 20px;
  margin: 0;
  color: red;
  font-size: 35px;
}